@using CMS.Admin.Common
@model Business.Entities.Domain.DM_LoaiHinhTacPhamMapAdd
<div class="hidden">
    @Html.HiddenFor(model => model.LoaiHinhId)
</div>
<div>
    <div class="form-group">
        <label class="font-weight-bold">Mã <span class="text-danger font-weight-bold">(*)</span></label>
        @Html.TextBoxFor(model => model.Ma, new { @class = "form-control form-control-sm", @placeholder = "Mã" })
        <div class="field-validation-error thongbaomaLoaiHinhTacPham invalid-feedback"></div>
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Loại hình đăng ký <span class="text-danger font-weight-bold">(*)</span></label>
        @Html.DropDownListFor(model => model.LoaiHinhDangKyId, CBODungChung.GetAllCBOTableDM("DM_LoaiHinhDangKy"), "---Chọn---", new { @class = "form-control form-control-sm" })
        <div class="field-validation-error thongbaoloaihinhdkLoaiHinhTacPham invalid-feedback"></div>
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Nhóm <span class="text-danger font-weight-bold">(*)</span></label>
        @Html.TextBoxFor(model => model.Nhom, new { @class = "form-control form-control-sm", @placeholder = "Nhóm" })
        <div class="field-validation-error thongbaonhomLoaiHinhTacPham invalid-feedback"></div>
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Danh mục cha</label>
        @Html.DropDownListFor(model => model.ParentID, CBODungChung.GetAllCBOTableDM("DM_LoaiHinhTacPham_Parent"), "---Chọn---", new { @class = "form-control form-control-sm" })
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Tên danh mục <span class="text-danger font-weight-bold">(*)</span></label>
        @Html.TextBoxFor(model => model.TenLoaiHinh, new { @class = "form-control form-control-sm", @placeholder = "Tên danh mục" })
        <div class="field-validation-error thongbaotenLoaiHinhTacPham invalid-feedback"></div>
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Mô tả</label>
        @Html.TextAreaFor(model => model.MoTa, new { @class = "form-control form-control-sm", @placeholder = "Nhập mô tả" })
        <div class="field-validation-error thongbaomotaLoaiHinhTacPham invalid-feedback"></div>
    </div>
    <div class="form-group form-check mt-3">
        <input type="checkbox" class="form-check-input" name="IsActive" id="check-is-active" value="@(Model.IsActive == true ? "True" : "False")" @(Model.IsActive == true ? "checked='checked'" : "")>
        <label class="form-check-label font-weight-bold" for="check-is-active">Hoạt động</label>
    </div>
</div>