@using Module.Framework.Common;
@using CMS.Admin.Constaints;
@{
    var user = LoginManager.GetCurrentUser();
    var admin = LoginManager.CheckAdmin();
}
@model CMS.Admin.Models.DM_NguoiKy.DM_NguoiKyViewModel
<div class="card bg-white w-100">
    <div class="card-header">
        <h4 class="card-title">Danh mục người ký</h4>
    </div>
    <div class="card-content collapse show">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-right mt-md-0 mt-sm-3">
                    @Html.Partial("_PartialSearch", Model.Search)
                </div>
            </div>
            <div class="table-responsive mt-3" id="dm-NguoiKy-result-searchlist">
                @if (Model != null && Model.Items != null && Model.Items.Any())
                {
                    @Html.Partial("_PartialList", Model.Items)
                }
                else
                {
                    <div class="alert alert-info mt-3" role="alert">
                        Không có dữ liệu
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@{Html.RenderPartial("DialogUpdate/Index");}
<!-- end Dialog update--->
@{
    <script type="text/javascript" src="@Url.Content("~/Scripts/DM_NguoiKy.js")"></script>
}

<script>
    $(document).ready(function () {
        if (Common.Empty(Common.DM_NguoiKy)) {
            Common.DM_NguoiKy = new DM_NguoiKy({
                Url: {
                    Delete: '@Url.Action("Xoa", "DM_NguoiKy")',
                    Create: '@Url.Action("ThemMoi", "DM_NguoiKy")',
                    Update: '@Url.Action("CapNhat", "DM_NguoiKy")'
                },
            });
        }
        else {
            Common.DM_NguoiKy.RegisterEvent();
        }
    });
</script>