@using Module.Framework.Common;
@using CMS.Admin.Constaints;
@model Business.Entities.Domain.TT_PhimParam
@{
    var user = LoginManager.GetCurrentUser();
    var admin = LoginManager.CheckAdmin();
}
@using (Ajax.BeginForm("SearchPhim", "QLQ_QuyenLienQuan", null, new AjaxOptions
{
    HttpMethod = "Post",
    OnBegin = "Common.QLQ_QuyenLienQuan_SearchPhim.BeforeSend",
    OnSuccess = "Common.QLQ_QuyenLienQuan_SearchPhim.Success",
    OnFailure = "Common.ErrorMessage"
}, new { @class = "", @role = "form", @id = "idFormSearchPhim" }))
{
    <div class="hidden">
        @Html.HiddenFor(m => m.PageIndex)
        @Html.HiddenFor(m => m.PageSize)
        @Html.HiddenFor(m => m.KeyPage)
        <input id="CurrentUser" name="CurrentUser" type="hidden" value="@user.UserFullName">
        <input id="Click" name="Click" type="hidden" value="0">
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="font-weight-bold">Tên </label>
            @Html.TextBoxFor(m => m.Ten, new { @class = "form-control form-control-sm", @placeholder = "Nhập tên" })
        </div>
        <div class="form-group col-md-4">
            <label class="font-weight-bold">Tag </label>
            @Html.TextBoxFor(m => m.Tag, new { @class = "form-control form-control-sm", @placeholder = "Nhập tag" })
        </div>
        <div class="form-group col-md-4">
            <label class="font-weight-bold">Ghi chú</label>
            @Html.TextAreaFor(model => model.GhiChu, new
            {
                @class = "form-control form-control-sm",
                @placeholder = "Nhập ghi chú",
                @rows = 3
            })
        </div>
    </div>
    <div class="text-right mt-2">
        <button class="btn btn-info btn-sm text-white" type="button" id="btnSearchPhim"><i class="fas fa-search mr-1"></i> Tìm kiếm</button>
    </div>
}
