@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>..::BACHKHOA::..</title>
    <meta http-equiv="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <style type="text/css">
        body {
            background: #FFFFFF url("");
        }

        #table_errors {
            width: 800px;
            margin: auto;
        }

        #errors-information-holder {
            background-color: #F8FFFB;
            border: 1px solid #0089AE;
            border-radius: 10px;
            -moz-radius: 10px;
            -webkit-radius: 10px;
            padding: 10px;
        }

        #table_exception {
            width: 800px;
            margin: auto;
        }

        #exception-information-holder {
            background-color: #F8FFFB;
            border: 1px solid #0089AE;
            border-radius: 10px;
            -moz-radius: 10px;
            -webkit-radius: 10px;
            padding: 10px;
        }

            #exception-information-holder pre {
                width: 760px;
                overflow: auto;
            }

            #exception-information-holder h1 {
                cursor: pointer;
            }

        .content-500 {
            width: 100%;
            height: 100%;
            vertical-align: middle;
            display: table;
        }

        .col-500 {
            padding-right: 165px;
            padding-left: 20px;
            padding-top: 10px;
        }

        .content-tb {
            margin-top: 20px;
            width: 285px;
            height: 79px;
            /*background: url("/skins/default/crm/images/img-error/content-tb.png") scroll repeat 0 0 transparent;*/
            color: #FFFFFF;
            font-size: 14px;
            font-family: arial;
            padding-top: 25px;
            float: left;
        }

        a {
            font-family: arial;
            font-size: 13px;
        }

            a:hover {
                text-decoration: none;
            }



        .robo-404 {
            width: 200px;
            height: 240px;
            background: url("/Content/images/robo-404.png") scroll no-repeat 0 0 transparent;
            position: absolute;
            right: 0px;
            top: 20px;
        }

        html, body {
            margin: 0;
            padding: 0;
            font-family: Arial;
        }

        #layout_body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            height: 100%;
            width: 100%;
        }

        .bg-full {
            background-image: url("/Content/images/bg-full.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center top;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 100;
        }

        .opacity {
            float: right;
            width: 40%;
            background: rgba(255,255,255,.4);
            height: 100%;
            box-shadow: 0px 0px 3px #A5A4A4;
            padding-left: 35px;
        }

        html, body {
            margin: 0;
            padding: 0;
        }

        html {
            height: 100%;
        }

        body {
            height: 100%;
            background: transparent;
            box-sizing: border-box;
        }

        .bg-white {
            position: relative;
            clear: both;
            border-radius: 8px;
            box-shadow: 0px 4px 24px 6px rgba(0, 0, 0, 0.3);
            background: none repeat scroll 0% 0% rgba(245, 246, 247, 0.9);
            -webkit-box-shadow: 0px 4px 24px 6px rgba(0, 0, 0, 0.3);
            -webkit-border-radius: 8px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-backface-visibility: hidden;
            margin-bottom: 2px;
            padding: 15px;
            margin: 0 auto;
            width: 800px;
            min-height: 280px;
            max-height: 600px;
            overflow: auto;
        }

        .home-back-eror {
            margin: 0px auto;
            color: white;
            border: 1px solid #1B90DA;
            background-color: #208FD5;
            display: block;
            text-align: center;
            font-size: 12px;
            border-radius: 3px;
            text-shadow: 0px -1px 2px #106EB2;
            cursor: pointer;
            line-height: 26px;
            margin-top: 15px;
            display: inline-block;
            padding: 0 25px;
        }

            .home-back-eror:hover {
                background-image: -webkit-linear-gradient(top, rgba(33, 142, 202, 1), rgba(55, 166, 236, 1));
                background-image: -moz-linear-gradient(top, rgba(33, 142, 202, 1), rgba(55, 166, 236, 1));
                background-image: -o-linear-gradient(top, rgba(33, 142, 202, 1), rgba(55, 166, 236, 1));
                background-image: -ms-linear-gradient(top, rgba(33, 142, 202, 1), rgba(55, 166, 236, 1));
                background-image: linear-gradient(to bottom, rgba(33, 142, 202, 1), rgba(55, 166, 236, 1));
                color: white;
                border-color: #1B90DA;
            }

        #back-link {
            color: white;
            white-space: nowrap;
        }
        .alert {
            top: 20px;
             position: relative;
            /* padding: 15px; */
            /* margin-bottom: 20px; */
            border: 1px solid transparent;
            border-radius: 4px;
            font-size: 13px;
        }

        .alert-danger {
            color: #a94442;
            /* background-color: #f2dede; */
            /* border-color: #ebccd1; */
        }
    </style>
    @{
        var browser = Request.Browser;
    }
    <div class="wrap-500 bg-full" style="width: 100%;">
        <div class="content-500">
            <div style="margin: auto;display: table-cell;vertical-align: middle;">
                <div class="bg-white">
                    <div class="col-500">
                        <div class="alert alert-danger" role="alert">
                            Ứng dụng không thích hợp với trình duyệt của bạn.
                            <br />
                            Vui lòng sử dụng các trình duyệt sau:
                            <ul>
                                <li>Google Chrome</li>
                                <li>Firefox</li>
                                <li>Internet Explorer 9</li>
                            </ul>
                            Thông tin trình duyệt của bạn:
                            <ul style="font-size: 13px;">
                                <li>
                                    Name = @Request.UserAgent
                                </li>
                                <li>
                                    Type = @browser.Type
                                </li>
                                <li>
                                    Name = @browser.Browser
                                </li>
                                <li>
                                    Version = @browser.Version
                                </li>
                                <li>
                                    Major Version = @browser.MajorVersion
                                </li>
                                <li>
                                    Minor Version = @browser.MinorVersion
                                </li>
                                <li>
                                    Platform = @browser.Platform
                                </li>
                                <li>
                                    Is Beta = @browser.Beta
                                </li>
                                <li>
                                    Is Crawler = @browser.Crawler
                                </li>
                                <li>
                                    Is AOL = @browser.AOL
                                </li>
                                <li>
                                    Is Win16 = @browser.Win16
                                </li>
                                <li>
                                    Is Win32 = @browser.Win32
                                </li>
                                <li>
                                    Is Frames = @browser.Frames
                                </li>
                                <li>
                                    Is Tables = @browser.Tables
                                </li>
                                <li>
                                    Is Cookies = @browser.Cookies
                                </li>
                                <li>
                                    Is VBScript = @browser.VBScript
                                </li>
                                <li>
                                    Is JavaScript = @browser.EcmaScriptVersion.ToString()
                                </li>
                                <li>
                                    Supports Java Applets = @browser.JavaApplets
                                </li>
                                <li>
                                    Supports ActiveX Controls= @browser.ActiveXControls
                                </li>
                                <li>
                                    Supports JavaScript Version= @browser["JavaScriptVersion"]
                                </li>

                            </ul>
                            <div class="home-back-eror">
                                <a href="@Url.RouteUrl("Default")" style="color: white;text-decoration: none; white-space: nowrap; ">Quay lại trang chủ</a>
                            </div>
                        </div>
                    <div class="col-500">
                        <div class="robo-404"></div>
                    </div>
                    <div class="col-500" style="">

                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="window-resizer-tooltip" style="display: none;"><a href="#" title="Edit settings"></a><span class="tooltipTitle">Window size: </span><span class="tooltipWidth" id="winWidth">1366</span> x <span class="tooltipHeight" id="winHeight">728</span><br><span class="tooltipTitle">Viewport size: </span><span class="tooltipWidth" id="vpWidth">1366</span> x <span class="tooltipHeight" id="vpHeight">599</span></div>
</body>
</html>