@using PagedList;
@using Core.Common.Common;
@using Module.Framework.Common;
@using CMS.Admin.Constaints;
@model IPagedList<Business.Entities.Domain.DM_CoQuanCapMap>

@{
    var user = LoginManager.GetCurrentUser();
    var admin = LoginManager.CheckAdmin();
}

<table id="recent-orders" class="table table-hover mb-0 table-striped table-mobile table-bordered">
    <thead>
        <tr class="bg-info text-white">
            <th class="text-center" width="50">STT</th>
            <th class="text-center" width="80">Mã</th>
            <th class="text-center">Tên cơ quan cấp</th>
            <th class="text-center" width="100">Hoạt động</th>
            @if (admin == true || user.Right.Contains(CookieRight.DM_CoQuanCapController_ThemMoi) || user.Right.Contains(CookieRight.DM_CoQuanCapController_Delete))
            {
                <th class="text-center" width="150">Thao tác</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            int i = 1;
            foreach (var item in Model)
            {
                <tr data-id="@item.Id">
                    <td class="text-center hidden-xs">@i</td>
                    <td data-label="Mã" class="text-center">@Html.Raw(item.Ma ?? "&nbsp;")</td>
                    <td data-label="Tên vùng miền">@Html.Raw(item.Ten ?? "&nbsp;")</td>
                    <td data-label="Hoạt động" class="text-center text-success">@Html.Raw(item.IsActive ? "<i class='fas fa-check'></i>" : "&nbsp;")</td>
                    @if (admin == true || user.Right.Contains(CookieRight.DM_CoQuanCapController_ThemMoi) || user.Right.Contains(CookieRight.DM_CoQuanCapController_Delete))
                    {
                        <td class="text-center" data-label="Thao tác">
                            @if (admin == true || user.Right.Contains(CookieRight.DM_CoQuanCapController_ThemMoi))
                            {
                                <button title="Chỉnh sửa" class="btn btn-primary btn-sm btnUpdate" type="button"><i class="far fa-edit"></i></button>
                            }
                            @if (admin == true || user.Right.Contains(CookieRight.DM_CoQuanCapController_Delete))
                            {
                                <button title="Xóa" class="btn btn-danger btn-sm btnXoaDM"><i class="far fa-trash-alt mr-1"></i></button>
                            }
                        </td>
                    }
                </tr>
                i++;
            }
        }
        else
        {
            <tr>
                <td colspan="5">
                    <div class="alert alert-info mt-3" role="alert">
                        Không có dữ liệu
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model != null && Model.Any())
{
    <!--- Pagination -->
    <div class="paging-bottom">
        @Html.Raw(Ajax.Pager(
                new Options
                {
                    PageSize = Model.PageSize,
                    TotalItemCount = Model[0].TotalCount,
                    CurrentPage = Model[0].PageIndex,
                    IsShowControls = true,
                    IsShowFirstLast = true,
                    LimitPage = 5,
                    Link = "javascript:void(0);",
                    OnClick = "Common.DM_CoQuanCap.Paging({0})",
                    OnChangePageSize = "Common.DM_CoQuanCap.ChangePageSize(this)"
                }))
    </div>
    <!--- End Pagination -->
}