@using PagedList;
@using Core.Common.Common;
@using Module.Framework.Common;
@using CMS.Admin.Constaints;
@model Business.Entities.Domain.DSHoSo_1CuaMap
@{
    var user = LoginManager.GetCurrentUser();
    var admin = LoginManager.CheckAdmin();
    var json = "";
    if (Model != null && Model.ListNguoiNhan != null && Model.ListNguoiNhan.Any())
    {
        json = Newtonsoft.Json.JsonConvert.SerializeObject(Model.ListNguoiNhan);
    }
}
<table id="recent-orders" class="table table-hover mb-0 table-striped table-mobile table-bordered">
    <thead>
        <tr class="bg-info text-white">

            <th class="text-center cursor" width="50">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="ChuyenAll">
                    <label class="form-check-label" for="ChuyenAll">C</label>
                </div>
            </th>
            <th class="text-center cursor" width="50">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="NhanAll">
                    <label class="form-check-label" for="NhanAll">N</label>
                </div>
            </th>
            <th width="50" class="text-center">STT</th>
            <th>Số biên nhận</th>
            <th>Tác phẩm</th>
            <th>Người đứng tên</th>
            <th>Thủ tục hành chính</th>
            <th>Ngày nhận</th>
            <th>Ngày hẹn trả</th>
            <th>Trạng thái</th>
            <th>Thời gian</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.ListHoSoThuLy != null && Model.ListHoSoThuLy.Any())
        {
            int i = 1;
            foreach (var item in Model.ListHoSoThuLy)
            {
                DateTime dNgayNgan;
                DateTime dNgayHenTra;
                DateTime.TryParse(item.NgayNhan, out dNgayNgan);
                DateTime.TryParse(item.NgayHenTra, out dNgayHenTra);
                var color = "black";
                if (!item.HoanTat && item.DaNhan)
                {
                    if (item.SoGioConLai < 0)
                    {
                        color = "red";
                    }
                    else if (item.SoGioConLai < 3)
                    {
                        color = "blue";
                    }
                }
                <tr data-id="@item.HoSoID" data-chucnanghientai="@item.ChucNangHienTai" data-quatrinhxulyid="@item.QuaTrinhXuLyHienTaiID"
                    data-linhvucid="@item.LinhVucID" data-thutucid="@item.ThuTucHanhChinhID" data-nguoixulyid="@item.NguoiXuLyID"
                    data-phongbanxulyid="@item.PhongBanXuLyID" data-donvixulyid="@item.DonViXuLyID" data-hosoonlineid="@item.HoSoOnlineID"
                    data-duongdihoso="@item.DuongDiHoSo" data-sobiennhan="@item.SoBienNhan" data-loaixuly="@item.LoaiXuLy"
                    data-donvinhanid="@item.DonViNhanID" data-xulylai="@item.XuLyLai" style="color:@color">

                    <td class="text-center cursor" width="50">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="Chuyen@(item.HoSoID)" name="Chuyen" value="@(item.HoSoID)" @(item.CoTheChuyen != 0 ? "" : "disabled")>
                            <label class="form-check-label" for="Chuyen@(item.HoSoID)"></label>
                        </div>
                    </td>
                    <td class="text-center cursor" width="50">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="Nhan@(item.HoSoID)" name="Nhan" value="@(item.HoSoID)" @(item.CoTheChuyen != 1 ? "" : "disabled")>
                            <label class="form-check-label" for="Nhan@(item.HoSoID)"></label>
                        </div>
                    </td>
                    <td data-label="STT">@Html.Raw(((item.PageIndex - 1) * item.PageSize + i).ToString() ?? "&nbsp;")</td>
                    <td data-label="Số biên nhận" class="cursor sobiennhan">
                        <div class="dropdown">
                            <span data-toggle="dropdown">
                                @Html.Raw(item.SoBienNhan ?? "&nbsp;")
                            </span>
                            <ul class="dropdown-menu dropdown-menu-left" id="@("dropdown-menu-" + item.HoSoID)"></ul>
                        </div>
                    </td>
                    <td data-label="Tác phẩm">@Html.Raw(item.TenTacPham ?? "&nbsp;")</td>
                    <td data-label="Người đứng tên">@Html.Raw(item.NguoiDungTenHoSo ?? "&nbsp;")</td>
                    <td data-label="Thủ tục hành chính">@Html.Raw(item.TenThuTuc ?? "&nbsp;")</td>
                    <td data-label="Ngày nhận">@Html.Raw(dNgayNgan.ToString("dd/MM/yyyy HH:mm:ss") ?? "&nbsp;")</td>
                    <td data-label="Ngày hẹn trả">@Html.Raw(dNgayHenTra.ToString("dd/MM/yyyy HH:mm:ss") ?? "&nbsp;")</td>
                    <td data-label="Trạng thái">@Html.Raw(item.TrangThaiHoSo ?? "&nbsp;")</td>
                    <td data-label="Thời gian">@Html.Raw(item.ThoiGian ?? "&nbsp;")</td>
                </tr>
                i++;
            }
        }
        else
        {

            <tr>
                <td colspan="12">
                    <div class="alert alert-info mt-3" role="alert">
                        Không có dữ liệu
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model != null && Model.ListHoSoThuLy != null && Model.ListHoSoThuLy.Any())
{
    <!--- Pagination -->
    <div class="paging-bottom">
        @Html.Raw(Ajax.Pager(
                new Options
                {
                    PageSize = Model.ListHoSoThuLy[0].PageSize,
                    TotalItemCount = Model.ListHoSoThuLy[0].TotalRecords,
                    CurrentPage = Model.ListHoSoThuLy[0].PageIndex,
                    IsShowControls = true,
                    IsShowFirstLast = true,
                    LimitPage = 5,
                    Link = "javascript:void(0);",
                    OnClick = "Common.HoSo.Paging({0})",
                    OnChangePageSize = "Common.HoSo.ChangePageSize(this)",

                }))
    </div>
    <!--- End Pagination -->
}
<script type="text/javascript">
    $(document).ready(() => {
        const json = '@Html.Raw(json)';
        let nguoinhans = [];
        if (!Common.Empty(json))
            nguoinhans = JSON.parse(json);
        if (!Common.HoSo) {
            setTimeout(() => {
                Common.HoSo.NguoiNhan = nguoinhans
                Common.HoSo.RefeshNguoiNhan();
            }, 2000);

        }
    });
</script>
