@using CMS.Admin.Common
@model Business.Entities.Domain.DM_QuanHuyenMapAdd
<div class="hidden">
    @Html.HiddenFor(model => model.Id)
</div>
<div>
    <div class="form-group">
        <label class="font-weight-bold">Mã quận huyện <span class="text-danger">(*)</span></label>
        @Html.TextBoxFor(model => model.Ma, new { @class = "form-control form-control-sm", @placeholder = "Nhập mã quận huyện" })
        <div class="field-validation-error thongbaoma invalid-feedback"></div>
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Mã quận huyện liên thông </label>
        @Html.TextBoxFor(model => model.MaLienThong, new { @class = "form-control form-control-sm", @placeholder = "Nhập mã quận huyện liên thông" })
        <div class="field-validation-error thongbaomalienthong invalid-feedback"></div>
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Tên quận huyện <span class="text-danger">(*)</span></label>
        @Html.TextBoxFor(model => model.Ten, new { @class = "form-control form-control-sm", @placeholder = "Nhập tên quận huyện" })
        <div class="field-validation-error thongbaoTen invalid-feedback"></div>
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Tỉnh thành <span class="text-danger">(*)</span></label>
        @Html.DropDownListFor(m => m.TinhThanhID, CBODungChung.GetCBOTinhThanh(), "--Chọn tỉnh thành--", new { @class = "form-control form-control-sm select-share-update" })
        <div class="field-validation-error thongbaoTinhThanh invalid-feedback"></div>
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Mô tả</label>
        @Html.TextAreaFor(model => model.MoTa, new { @class = "form-control form-control-sm", @placeholder = "Nhập mô tả" })
        <div class="field-validation-error thongbaoMoTa invalid-feedback"></div>
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Thứ tự hiển thị</label>
        @Html.TextBoxFor(model => model.ThuTuHienThi, new { @class = "form-control form-control-sm", @placeholder = "Nhập tên quận huyện" })
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="CongKhai" name="CongKhai" value="@(Model.CongKhai == true ? "True" : "False")" @(Model.CongKhai == true ? "checked='checked'" : "")>
        <label class="form-check-label" for="Used">Công khai</label>
    </div>
</div>