@using Core.Common.Common;
@using Module.Framework.Common;
@using CMS.Admin.Constaints;
@{
    var user = LoginManager.GetCurrentUser();
    var admin = LoginManager.CheckAdmin();

}
@model List<Business.Entities.Domain.TT_PhimMap>

<div class="list-phim">
    @if (Model != null && Model.Count() > 0)
    {
        <div class="form-group">
            <div class="row mr-0 ml-0">
                @foreach (var item in Model)
                {
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/Content/images/iconVideo_112661.png"
                                 class="card-img-top text-center"
                                 alt="@item.TenGoc"
                                 title="@item.Ten"
                                 style="padding-left: 9%; padding-right: 9%"/>
                            <div class="card-body">
                                <h5 class="card-title">@item.Ten - @item.Tag</h5>
                                <p class="card-text">
                                    @item.GhiChu
                                </p>
                                @*<button type="button" data-id="@item.PhimID" data-name="@item.Ten" class="btn btn-primary btn-chon-phim">Chọn</button>*@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {

    }
</div>

@if (Model != null && Model.Any())
{
    <!--- Pagination -->
    <div class="paging-bottom">
        @Html.Raw(Ajax.Pager(
                new Options
                {
                    PageSize = Model[0].PageSize,
                    TotalItemCount = Model[0].TotalCount,
                    CurrentPage = Model[0].PageIndex,
                    IsShowControls = true,
                    IsShowFirstLast = true,
                    LimitPage = 5,
                    Link = "javascript:void(0);",
                    OnClick = "Common.QTG_QuyenTacGia_SearchPhim.Paging({0})",
                    OnChangePageSize = "Common.QTG_QuyenTacGia_SearchPhim.ChangePageSize(this)",
                }))
    </div>
    <!--- End Pagination -->
}
